.homePage{
    display: flex;
    max-width: 1280px;
    margin: 20px auto 0;
    justify-content: center;
    margin-bottom: 20px;
    flex-flow: row wrap;
    gap: 10px;
}

/* Because of <Link /> component from react-router-dom this thing is actualy prevents default text decoration of everything */

.homePage a{
    text-decoration: none;
}