.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 89%);
  padding: 30px 0 15px 0;
  position: relative; /* 1 */
  height: 45px;
}

.enterWrapper{
  position: relative;
  /* border: 1px solid; */
}

.hoverableText {
  cursor: pointer;
}

.hoverableText:hover {
  text-decoration: underline;
}

.modalWindowLoginAndSignIn input{
  width: 170px;
  padding: 7px;
  border: none;
  border-radius: 5px;
}

.enterButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  gap: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  color: hsl(0, 0%, 0%);
  transition: background-color 0.3s ease;
  user-select: none;
  width: 100px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.enterButton img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
  
.enterButton:hover{
  color: hsl(0, 0%, 35%);
}

.modalWindowEnter {
  margin-top: 7px;
  position: absolute;
  top: 100%;
  left: -10%;
  width: 120px;
  z-index: 1000;
}

.modalWindowEnterContent{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: hsl(0, 0%, 89%);
  border-bottom: none;
  box-shadow: 1px 1px 5px hsl(0, 0%, 70%);
}

.modalWindowEnterContent button{
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 83%);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalWindowEnterContent button:hover{
  background-color: hsl(0, 0%, 73%);
}

.linkBtn{
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 83%);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
}

.linkBtn:hover{
  background-color: hsl(0, 0%, 73%);
}

.logoPic {
  width: 140px;
  margin-left: 10px;
  cursor: pointer;
}

.modalWindowLoginAndSignIn{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.modalWindowLoginAndSignInContent button {
  width: auto;
  font-size: 18px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 88%);
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 4px;
  user-select: none;
}

.modalWindowLoginAndSignInContent button:hover {
  background-color: hsl(0, 0%, 70%);
}

.modalWindowLoginAndSignInContent{
  width: 450px;
  height: 350px;
  background-color: hsl(0, 0%, 90%);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
}

.modalEnterCancelLogin{
  display: flex;
  gap: 15px;
  margin-top: 10px;
}