.characteristicsWrapper {
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 89%);
    width: 500px;
    height: 160px;
    padding: 5px;
    position: relative;
}

.characteristicsWrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 16px;
    pointer-events: none;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 89%, 1) 100%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.characteristicsRow {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
}

.characteristicsTableHeaderDiv {
    position: relative;
    align-items: start;
    width: 60%;
}

.underlineDelimeter {
    position: absolute;
    top: 14px;
    left: 0px;
    right: 8px;
    content: "";
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.14);
}

.characteristicsTableCharValue {
    width: 40%;
    display: flex;
    flex-direction: row;
}