.sideBar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: hsl(0, 0%, 89%);
    padding: 20px;
    box-shadow: 2px 0 5px hsl(0, 0%, 79%);
    transition: transform 0.3s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    overflow-x: auto;
}

.sideBar::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}
  
.sideBar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.sideBar::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%); 
    border-radius: 10px;
  }
  
.sideBar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);   
}

.masterCategoryName {
    font-size: 20px;
    color: hsl(0, 0%, 40%);
    user-select: none;
}

.categoryName {
    font-size: 16px;
    cursor: pointer;
    padding-left: 15px;
    user-select: none;
}

.sidebarOpen {
    transform: translateX(0);
}

.sidebarClosed {
    transform: translateX(-300px);
}

.sideBarButton {
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 1px 1px 3px hsl(0, 0%, 70%);
    transition: box-shadow 0.3 ease;
    user-select: none;
  }
  
.sideBarButton img {
    width: 24px;
}

.sideBarButton:hover{
    box-shadow: 3px 3px 6px hsl(0, 0%, 70%);
}